  .row-1  {
    background-color: #FDB3B3;
    padding: 0px;
    border-radius: 10px;
    box-shadow:2px 8px 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 2px;
  }

  .heading-1{
    /* font-family: 'georgia'; */
    padding-top: 7%;
    color: red;
}
.welcomeNote{
    /* font-family: 'georgia'; */
    padding-left: 10%;
}

  .dashboard-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.latestResultsCard{
    min-height: 280px;
}
.VbarsCard{
    min-height: 250px;
}
.dot-1{
color:#2ed8b6;
font-size: 15px;
}
.dot-2{
color: #4099ff;
font-size: 15px;
}
.dot-3{
color:#ee5f5b;
font-size: 15px;
}
.dot-4{
color:#FFB64D;
font-size: 15px;
}

  .progress-bar-vertical {
    width: 20px;
    min-height: 200px;
    margin-right: 20px;
    background: #d0cece;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;        
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
  
  .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }
  
  
  .progress-striped {
    background-color: #ee5f5b;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  }
  .card{
    border-radius: 3px;
    /* // box-shadow: 7px 7px 5px rgb(196, 226, 236)!important; */
  }
  .card-title{
    color: #ffff;
    font-size: 25px;
    margin-top: -7%;
  }
  .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
    height: 100px;
    border-radius: 3px;
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    height: 100px;
    border-radius: 3px;
  }
  .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
    height: 100px;
    border-radius: 3px;
  }
  .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
    height: 100px;
    border-radius: 3px;
  }

  .card{
    box-shadow:2px 8px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .rigthSideBar{
    box-shadow:2px 8px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .imgCol{
    padding: 10px;
    border: solid 4px rgb(82, 145, 186);
    border-radius: 50%;
    width: 100px;
    margin-left: 25px;
  }

  .profile{
    border-radius: 50px;
  }